@keyframes highlight {
  75%,
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.root {
  position: absolute;
  background-color: blueviolet;
  inset: 0;
  border-width: 8px;
  border-radius: 0.5rem;
  z-index: 0;
  animation: highlight 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.root + * {
  z-index: 1;
}
