@reference '../../../../index.css';

@keyframes highlight {
  75%,
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.root {
  @apply absolute inset-0 border-8 rounded-lg z-[0];
  animation: highlight 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
